body {
  font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
  font-size: 18px;
  background-color: #EEEEEE;
  margin: 0px;
}
a {
  text-decoration: none;
}
code {
  font-size: 16px;
}
figure {
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
table {
  width: 100%;
  /*表格宽度*/
  max-width: 65em;
  /*表格最大宽度，避免表格过宽*/
  border: 1px solid #dedede;
  /*表格外边框设置*/
  margin: 15px auto;
  /*外边距*/
  border-collapse: collapse;
  /*使用单一线条的边框*/
  empty-cells: show;
  /*单元格无内容依旧绘制边框*/
}
table th {
  height: 35px;
  /*统一每一行的默认高度*/
  border: 1px solid #dedede;
  /*内部边框样式*/
  padding: 0 10px;
  /*内边距*/
  font-weight: bold;
  /*加粗*/
  text-align: center !important;
  /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
  background: rgba(223, 226, 229, 0.4);
  /*背景色*/
  white-space: nowrap;
  /*表头内容强制在一行显示*/
}
table td {
  height: 35px;
  /*统一每一行的默认高度*/
  border: 1px solid #dedede;
  /*内部边框样式*/
  padding: 0 10px;
  /*内边距*/
}
table tbody tr:nth-child(2n) {
  background: rgba(223, 226, 229, 0.3);
}
table tr:hover {
  background: #efefef;
}
.table-area {
  overflow: auto;
}
blockquote {
  color: #777777;
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 10px 0px;
  padding: 10px 10px;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
header {
  width: 100%;
  height: 65px;
  line-height: 65px;
  background-color: #525252;
}
header .header-main {
  width: 900px;
  color: white;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
header .header-main .header-left {
  font-size: 26px;
}
header .header-main .header-right {
  font-size: 18px;
  text-align: right;
}
header .header-main a {
  color: #fff;
  cursor: pointer;
}
header .header-main a:hover {
  text-decoration: underline;
}
footer {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: gray;
  background-color: #dadada;
}
.home-main {
  width: 900px;
  min-height: calc(100vh - 65px - 40px);
  margin: 0 auto;
}
.home-main .post-list {
  width: 900px;
  margin: 0 auto;
}
.home-main .post-list .post-list-item {
  background-color: white;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgb(151 151 2.60344828%);
}
.home-main .post-list .post-list-item .post-title {
  font-size: 22px;
  font-weight: 500;
}
.home-main .post-list .post-list-item .post-title a {
  color: #212121;
}
.home-main .post-list .post-list-item .post-title a:hover {
  text-decoration: underline;
}
.home-main .post-list .post-list-item .post-meta {
  font-size: 15px;
  color: #a4a4a4;
  margin-top: 3px;
  margin-bottom: 10px;
}
.home-main .post-list .post-list-item .post-content a {
  color: gray;
}
.home-main .post-list .post-list-item .post-content a:hover {
  text-decoration: underline;
}
.home-main .post-list .post-list-item img {
  margin-top: 5px;
}
.post-main {
  width: 900px;
  min-height: calc(100vh - 65px - 40px);
  margin: 0 auto;
}
.post-main .post-header {
  width: 100%;
  text-align: center;
}
.post-main .post-body {
  width: 100%;
}
.post-main img {
  width: 100%;
}
.archive-main {
  width: 650px;
  min-height: calc(100vh - 65px - 40px - 20px);
  margin: 10px auto;
}
.archive-main .issue {
  padding: 14px 0px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  border-bottom-style: solid;
  border-bottom-color: #e0e4e8;
  border-bottom-width: 1px;
}
.archive-main .issue .issue-date {
  margin-right: 25px;
  color: #6f7379;
}
.archive-main .issue:last-child {
  border-bottom: none;
}
.archive-main a {
  text-decoration: none;
  color: #b5495b;
  cursor: pointer;
}
.archive-main a:hover {
  font-weight: 600;
  color: #b5495b;
  text-decoration: underline;
}
.category-main {
  width: 650px;
  min-height: calc(100vh - 65px - 40px - 20px);
  margin: 10px auto;
}
.category-main .category-name,
.category-main .category-post {
  padding: 14px 0px;
  border-bottom-style: solid;
  border-bottom-color: #e0e4e8;
  border-bottom-width: 1px;
}
.category-main .category-name:last-child,
.category-main .category-post:last-child {
  border-bottom: none;
}
.category-main a {
  text-decoration: none;
  color: #b5495b;
  cursor: pointer;
}
.category-main a:hover {
  font-weight: 600;
  color: #b5495b;
  text-decoration: underline;
}
.about-main {
  width: 900px;
  min-height: calc(100vh - 65px - 40px);
  margin: 0 auto;
}
